.App {
  text-align: center;
}

body {
  background-image: url(./images/oneSalesforce.png),
    linear-gradient(to top, rgba(175, 197, 222, 0) 0, #1b5f9e);
    background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}
